footer.footer
    .footer__logo
        img(src='/img/logo-green.png' alt='Natour logo')

    ul.footer__nav 
        li: a(href='#') About us
        li: a(href='https://documenter.getpostman.com/view/17555530/2s7ZE5rjZ8' target='_blank') Documentation
        li: a(href='https://www.linkedin.com/in/piyush-sultaniya-a5296a220/' target='_blank') Designers
        li: a(href='https://www.linkedin.com/in/piyush-sultaniya-a5296a220/' target='_blank') Developers

    p.footer__copyright Created with ❤️ & a lot of hardwork by 
        a.footer__copyright(href='https://piyushsultaniya.netlify.app/' target='_blank') Piyush Sultaniya